@page
@model CapstoneR2.Pages.Manage.Prescriptions.PUpdate
@{
}
<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <form method="Post">
                    <div class="form-group">
                        <input type="hidden" asp-for="View.ID" />
                        <label asp-for="View.Tags">Tags</label>
                        <input type="text" class="form-control" placeholder="Enter TAgs" asp-for="View.Tags">
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="View.ID" />
                        <label asp-for="View.Description">DesCription</label>
                        <input type="text" class="form-control" placeholder="Enter role name" asp-for="View. Description">
                    </div>
                   
                    <div class="form-group alert-danger">
                        @Html.ValidationSummary()
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Update</button>
                        <a href="~/manage/patients" class="btn btn-secondary">Cancel</a>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>