@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="container justify-content-center">

    <div class="row">

        <div class="container col-4">

            <div class="row">

                <div class="row">
                <a href="~/Account/Login" class="btn btn-light btn-outline-dark fw-bold btn-lg">Log in</a>
                </div>

                  <div class="row">
                  <a href="~/Account/Create" class="btn btn-light btn-outline-dark fw-bold btn-lg">Sign up</a>
                  </div>
            </div>

        </div>

        <div class="container col-4">


            <div class="row">
                <a href="~/Account/Create" class="btn btn-light btn-outline-dark fw-bold btn-lg">Contact Us</a>
            </div>

        
        </div>
    </div>
</div>