@page
@model CapstoneR2.Pages.Dashboard.PatientModel
@using CapstoneR2.Infrastructure.Domain.Security;
@{
}
<div class="container">

    <h2 class="text-center">PATIENT DASHBOARD</h2>
    <h1 class="text-lg-start">WELCOME! @this.User.Name() @this.User.Role()</h1>

    <div class="row">
        <div class="container col-4">
            <div class="row">
                <div class="row">
                    <a href="~/Account/Create" class="btn btn-light btn-outline-dark fw-bold btn-lg">Profile setting</a>
                </div>
                <div class="row">
                    <a href="~/Account/Create" class="btn btn-light btn-outline-dark fw-bold btn-lg">Change Password?</a>
                </div>
                <div class="row">
                    <a href="~/Account/Create" class="btn btn-light btn-outline-dark fw-bold btn-lg">Log out</a>
                </div>
            </div>

        </div>

        <div class="container col-4">
            <div class="row">
                <a href="~/Account/Create" class="btn btn-light btn-outline-dark fw-bold btn-lg">Profile</a>
            </div>
            <div class="row">
                <a href="~/Account/Create" class="btn btn-light btn-outline-dark fw-bold btn-lg">My visit record</a>
            </div>
            
            <div class="row">
                <a href="~/Account/Create" class="btn btn-light btn-outline-dark fw-bold btn-lg">Clinic Information</a>
            </div>
        </div>
    </div>
</div>
